.email {
  // background-color: $color-tertiary;
  // grid-column: email-start / email-end;
  grid-row: 1 / -1;

  width: 4rem;
  position: fixed;
  bottom: 0;
  right: 4rem;
  left: auto;
  z-index: 10;

  &__box {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    -webkit-box-align: center;
    align-items: center;

    & a {
      font-size: 1.2rem;
      letter-spacing: 0.3rem;
      writing-mode: vertical-rl;
      text-decoration: none;
    }

    &::after {
      content: "";
      width: 2px;
      height: 10rem;
      background-color: $color-grey-light-2;
    }
  }
}
