/****************************/
/* STICKY NAVIGATION */
/****************************/

.sticky .navigation {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  // height: 9.6rem;
  height: 6rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba($color-secondary, 0.9);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.close-background {
  transform: none;
}

.open-background {
  transform: scale(80);
}

.navigation {
  background-color: $color-secondary;

  grid-column: 1 / -1;
  grid-row: 1 / 2;

  display: flex;
  align-items: center;
  justify-content: end;
  z-index: 10;

  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  // position: relative;

  &__main-nav {
    transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);

    &-list {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 4.8rem;
    }

    &-link--active {
      &:link,
      &:visited {
        display: inline-block;
        text-decoration: none;
        color: $color-grey-light-1;
        font-size: 1.8rem;
        font-weight: 400;
        transition: all 0.3s;
      }

      &:hover,
      &:active {
        color: $color-grey-light-2;
      }
    }

    &-link-cta {
      &:link,
      &:visited {
        // padding: 1.2rem 2.4rem;
        // border: 2px solid $color-primary;
        // border-radius: 2px;
        color: $color-primary;
      }

      &:hover,
      &:active {
        transform: scale(1.05);
      }
    }

    @include respond(tab-port) {
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1500;

      // opacity: 0;
      width: 0;
      transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);

      /* Hide navigation */
      /* Allows NO transition at all */
      /* display: none; */

      /* 1) Hide it visually */
      opacity: 0;

      /* 2) Make it unaccessible to mouse and keyboard */
      pointer-events: none;

      /* Hide it from screen readers */
      visibility: hidden;

      &__nav-open {
        opacity: 1;
        width: 100%;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
      }

      &-list {
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%;
      }

      &-item {
        margin: 1rem;
      }

      &-link {
        &:link,
        &:visited {
          display: inline-block;
          font-size: 2.5rem;
          font-weight: 300;
          padding: 1rem 2rem;
          color: $color-white;
          text-decoration: none;
          text-transform: uppercase;
          background-image: linear-gradient(
            120deg,
            transparent 0%,
            transparent 50%,
            $color-white 50%
          );
          background-size: 230%;
          transition: all 0.4s;

          span {
            margin-right: 1.5rem;
            display: inline-block;
          }
        }

        &:hover,
        &:active {
          background-position: 100%;
          color: $color-secondary;
          transform: translateX(1rem);
        }
      }
    }
  }

  /* MOBILE */
  &__mobile {
    display: none;

    @include respond(tab-port) {
      display: block;
    }

    &__checkbox {
      display: none;
    }

    &__button {
      background-color: $color-white;
      height: 7rem;
      width: 7rem;
      position: fixed;
      top: 6rem;
      right: 6rem;
      border-radius: 50%;
      z-index: 2000;
      box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
      text-align: center;
      cursor: pointer;

      @include respond(tab-port) {
        top: 4rem;
        right: 4rem;
      }

      @include respond(phone) {
        top: 3rem;
        right: 3rem;
      }
    }

    &__background {
      height: 6rem;
      width: 6rem;
      border-radius: 50%;
      position: fixed;
      top: 6.5rem;
      right: 6.5rem;
      background-image: radial-gradient(
        $color-secondary-light-1,
        $color-secondary
      );
      z-index: 1000;
      transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);

      @include respond(tab-port) {
        top: 4.5rem;
        right: 4.5rem;
      }

      @include respond(phone) {
        top: 3.5rem;
        right: 3.5rem;
      }
    }

    // &__nav {
    //   height: 100vh;
    //   position: fixed;
    //   top: 0;
    //   left: 0;
    //   z-index: 1500;

    //   opacity: 0;
    //   width: 0;
    //   transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    // }

    // &__list {
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    //   list-style: none;
    //   text-align: center;
    //   width: 100%;
    // }

    // &__item {
    //   margin: 1rem;
    // }

    // &__link {
    //   &:link,
    //   &:visited {
    //     display: inline-block;
    //     font-size: 3rem;
    //     font-weight: 300;
    //     padding: 1rem 2rem;
    //     color: $color-white;
    //     text-decoration: none;
    //     text-transform: uppercase;
    //     background-image: linear-gradient(
    //       120deg,
    //       transparent 0%,
    //       transparent 50%,
    //       $color-white 50%
    //     );
    //     background-size: 220%;
    //     transition: all 0.4s;

    //     span {
    //       margin-right: 1.5rem;
    //       display: inline-block;
    //     }
    //   }

    //   &:hover,
    //   &:active {
    //     background-position: 100%;
    //     color: $color-primary;
    //     transform: translateX(1rem);
    //   }
    // }

    // &__checkbox:checked ~ &__background {
    //   transform: scale(80);
    //   &.close-background {
    //     transform: none;
    //   }
    // }

    // &__checkbox:checked {
    //   .navigation__main-nav {
    //     opacity: 1;
    //     width: 100%;
    //   }
    // }

    //ICON
    &__icon {
      position: relative;
      margin-top: 3.5rem;
      transform: rotate(0);

      &,
      &::before,
      &::after {
        width: 3rem;
        height: 2px;
        background-color: $color-grey-dark-3;
        display: inline-block;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      &::before {
        top: -0.8rem;
        // keep in the original left/right position when doing transform later on just rotating the angle
        // transform-origin: left;
      }

      &::after {
        top: 0.8rem;
      }

      &__close {
        background-color: transparent;

        &::before {
          transform: rotate(135deg);
          // transform: rotate(225deg);
          // transform: rotate(495deg);
          top: 0;
        }

        &::after {
          transform: rotate(-135deg);
          // transform: rotate(-225deg);
          // transform: rotate(-495deg);
          top: 0;
        }
      }
    }

    &__button:hover &__icon::before {
      top: -1rem;
    }

    &__button:hover &__icon::after {
      top: 1rem;
    }

    &__button:hover &__icon__close::before {
      top: 0;
    }

    &__button:hover &__icon__close::after {
      top: 0;
    }

    // &__checkbox:checked + &__button &__icon {
    //   background-color: transparent;
    // }

    // &__checkbox:checked + &__button &__icon::before {
    //   transform: rotate(135deg);
    //   top: 0;
    // }

    // &__checkbox:checked + &__button &__icon::after {
    //   transform: rotate(-135deg);
    //   top: 0;
    // }
  }

  // .btn-mobile-nav {
  //   border: none;
  //   border-radius: 0;

  //   background-color: #fff;
  //   height: 2px;
  //   width: 4.5rem;
  //   margin-top: 4rem;

  //   &::before,
  //   &::after {
  //     background-color: #fff;
  //     height: 2px;
  //     width: 4.5rem;
  //     content: "";
  //     display: block;
  //   }

  //   &::before {
  //     transform: translateY(-1.5rem);
  //   }

  //   &::after {
  //     transform: translateY(1.3rem);
  //   }

  //   // @media only screen and (max-width: $bp-large) {
  //   //   margin-top: 0;
  //   //   margin-right: 3rem;

  //   //   &::before {
  //   //     transform: translateY(-1.2rem);
  //   //   }

  //   //   &::after {
  //   //     transform: translateY(1rem);
  //   //   }
  //   // }

  //   // OTHER
  //   // border: none;
  //   // background: none;
  //   cursor: pointer;

  //   display: none;

  //   @media only screen and (max-width: $bp-medium) {
  //     display: block;
  //     z-index: 9999;
  //   }
  // }
}
