.social {
  grid-row: 1 / -1;

  width: 4rem;
  position: fixed;
  bottom: 0;
  left: 4rem;
  right: auto;
  z-index: 10;

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    list-style: none;

    &::after {
      content: "";
      width: 2px;
      height: 10rem;
      background-color: $color-grey-light-2;
    }
  }

  &__item {
  }

  &__icon {
    width: 2.2rem;
    height: 2.2rem;
  }

  @include respond(tab-port) {
    display: none;
  }
}

// Social row
.social-row {
  display: none;
  grid-column: 2 / 3;
  grid-row: 6 / 7;

  &__list {
    display: flex;
    column-gap: 4rem;
    align-items: center;
    list-style: none;
  }

  &__item {
  }

  &__icon {
    width: 2.6rem;
    height: 2.6rem;
  }

  @include respond(tab-port) {
    display: inline-block;
  }
}
