.btn {
  grid-column: col-start 1 / col-end 3;
  grid-row: 6 / 7;

  display: inline-block;
  padding: 1.2rem 2.4rem;
  border: 2px solid $color-primary;
  border-radius: 2px;
  color: $color-primary;
  background-color: inherit;
  font-family: "Archivo", sans-serif;
  font-size: 1.8rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;

  &:link,
  &:visited {
  }

  &:hover {
    background-color: rgba($color-primary, 0.2);
    transform: translateY(-3px);
    box-shadow: 0 2rem 2rem rgba($color-primary-dark, 0.3);
  }

  &:active,
  &:focus {
    transform: translateY(-1px);
    box-shadow: 0 1rem 1rem rgba($color-primary-dark, 0.3);
  }
}
