.heading {
  &--2 {
    font-size: 3rem;
    padding: 1rem 0;
    color: $color-grey-light-1;
    font-weight: 600;
  }

  &--3 {
    font-size: 2.5rem;
    // padding: 1rem 0;
    color: $color-grey-light-1;
    font-weight: 600;
  }

  &--4 {
    font-size: 2rem;
    // padding: 1rem 0;
    color: $color-grey-light-1;
    font-weight: 400;
  }

  &__span {
    color: $color-primary;
  }
}

.paragraph {
  line-height: 1.5;
  font-size: 1.8rem;
  color: $color-grey-light-3;
  @include hyphens;

  &__xs {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    font-weight: 300;
    @include hyphens;
  }

  &__sm {
    font-size: 1.4rem;
    font-weight: 300;
    @include hyphens;
  }

  &__md {
    font-size: 1.6rem;
    color: $color-grey-light-3;
    font-weight: 300;
    @include hyphens;
  }
}
