.hero {
  // background-color: palevioletred;
  color: $color-grey-light-1;

  grid-column: full-start / full-end;
  grid-row: 1 / 2;

  display: grid;
  // grid-template-columns: minmax(6rem, 1fr) minmax(min-content, max-content) minmax(
  //     6rem,
  //     1fr
  //   );
  // grid-template-rows: minmax(6rem, 1fr) minmax(min-content, max-content) minmax(
  //     6rem,
  //     1fr
  //   );
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 10rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows:
    minmax(6rem, 1fr) repeat(8, minmax(min-content, max-content))
    minmax(6rem, 1fr);

  &__text {
    &-1 {
      grid-column: col-start 1 / col-end 3;
      grid-row: 2 / 3;
      padding: 1rem 0;
      font-size: 1.8rem;
      color: $color-primary;
    }

    &-2 {
      grid-column: col-start 1 / col-end 4;
      grid-row: 5 / 6;
      padding: 1rem 0 2rem 0;
      line-height: 1.5;
      font-size: 1.8rem;
      color: $color-grey-light-4;
    }
  }
}

.about {
  background-color: aqua;
  grid-column: full-start / full-end;
  grid-row: 2 / 3;
}

.experience {
  background-color: chocolate;
  grid-column: full-start / full-end;
  grid-row: 3 / 4;
}

.projects {
  background-color: deeppink;
  grid-column: full-start / full-end;
  grid-row: 4 / 5;
}

.contact {
  background-color: royalblue;
  grid-column: full-start / full-end;
  grid-row: 5 / 6;
}
