.hero {
  color: $color-grey-light-1;
  min-height: 100vh;
  font-family: inherit;

  grid-column: center-start / center-end;
  grid-row: 1 / 2;
  grid-gap: 4rem;

  @include grid-10x7;

  @include respond(tab-port) {
    grid-gap: 3rem;
  }

  @include respond(phone) {
    grid-column: 2 / 3;
    margin: 0 3rem;
  }

  &__heading--1 {
    grid-column: center-start / col-end 6;
    grid-row: 3 / 4;
    font-size: 6.4rem;

    animation: moveInRight 1s ease-out;

    @include respond(tab-land) {
      grid-column: center-start / col-end 8;
      font-size: 6rem;
    }

    @include respond(tab-port) {
      grid-column: full-start / full-end;
      font-size: 5.2rem;
    }
    @include respond(phone) {
    }
  }

  &__heading--2 {
    grid-column: center-start / col-end 8;
    grid-row: 4 / 5;
    font-size: 6.4rem;
    color: $color-grey-light-3;
    margin-top: -2rem;

    animation: moveInLeft 1s ease-out;

    @include respond(tab-land) {
      grid-column: center-start / col-end 8;
      font-size: 6rem;
    }

    @include respond(tab-port) {
      grid-column: full-start / full-end;
      font-size: 5.2rem;
    }
  }

  &__text {
    &-1 {
      grid-column: center-start / col-end 3;
      grid-row: 2 / 3;
      word-spacing: 0.5rem;
      color: $color-primary;

      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;

      @include respond(tab-port) {
        grid-column: full-start / full-end;
      }
    }

    &-2 {
      grid-column: center-start / col-end 5;
      grid-row: 5 / 6;
      word-spacing: 0.1rem;
      margin-bottom: 2rem;

      animation: moveInRight 1s ease-out;

      @include respond(tab-port) {
        grid-column: full-start / col-end 6;
      }

      @include respond(phone) {
        grid-column: 1 / -1;
        font-size: 2rem;
      }
    }
  }

  a {
    @include respond(tab-port) {
      grid-column: full-start / col-end 3;
      line-height: 1.2;
    }
    @include respond(phone) {
      grid-column: full-start / col-end 6;
    }
  }

  &__text-position {
    font-weight: bold;
    color: $color-primary-dark;
  }

  &__text-green {
    font-weight: bold;
    color: $color-primary;
    &:hover {
      cursor: pointer;
    }
  }
}

.about {
  grid-column: center-start / center-end;
  grid-row: 2 / 3;

  @include grid-4x6;
  grid-gap: 2rem;

  @include respond(phone) {
    grid-column: 2 / 3;
    margin: 0 3rem;
  }

  // @include respond(tab-port) {
  //   grid-column: full-start / full-end;
  // }

  &__heading {
    grid-column: col-start 1 / col-end 2;
    grid-row: 2 / 3;
    position: relative;
    display: flex;
    align-items: center;

    @include respond(tab-port) {
      grid-column: full-start / full-end;
    }

    &::before {
      content: "";
      background-color: $color-grey-light-1;
      height: 2px;
      width: 5rem;
      display: block;
      margin-right: 1rem;
    }

    &::after {
      content: "";
      background-color: $color-grey-light-1;
      height: 2px;
      width: 30rem;
      display: block;
      margin-left: 1rem;

      @include respond(phone) {
        width: 20rem;
      }
    }
  }

  &__text {
    grid-column: col-start 1 / col-end 1;
    grid-row: 3 / span 4;

    @include grid-1x4;
    grid-gap: 2rem;

    @include respond(tab-port) {
      grid-column: full-start / col-end 1;
    }

    @include respond(tab-port-sm) {
      grid-column: full-start / full-end;
      margin-right: 1rem;
      margin-bottom: 6rem;
    }

    &-1 {
      grid-row: 1 / 2;
      @include respond(phone) {
        font-size: 2rem;
      }
    }

    &-2 {
      // grid-column: col-start 1 / col-end 1;
      grid-row: 2 / 3;
      @include respond(phone) {
        font-size: 2rem;
      }
    }

    &-3 {
      // grid-column: col-start 1 / col-end 1;
      grid-row: 3 / 4;
      @include respond(phone) {
        font-size: 2rem;
      }
    }

    &__list {
      // grid-column: col-start 1 / col-end 1;
      grid-row: 4 / 5;
      font-size: 2rem;
      color: $color-grey-light-3;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, min-content);
      grid-gap: 2rem;
    }

    &__box-item {
      display: flex;
      align-items: flex-end;
    }

    &__icon {
      color: $color-primary;
    }

    &__item {
      list-style: none;
      margin-top: -1rem;

      &-1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
      &-2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
      &-3 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }
      &-4 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }
      &-5 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
      }
      &-6 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
      }
    }
  }

  picture {
    grid-column: col-start 2 / col-end 2;
    grid-row: 3 / 5;
    display: flex;
    justify-content: center;

    @include respond(tab-land) {
      grid-row: 3 / 6;
    }

    @include respond(tab-port) {
      grid-column: col-start 2 / full-end;
    }

    @include respond(tab-port-sm) {
      grid-column: full-start / full-end;
      grid-row: 7 / 8;
    }

    img {
      grid-column: col-start 2 / col-end 2;
      grid-row: 3 / 5;

      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 10px;

      @include respond(tab-land) {
        width: 100%;
      }

      @include respond(tab-port-sm) {
        width: 30%;
      }

      @include respond(tab-port-sm) {
        width: 70%;
      }
    }
  }
}

.experience {
  grid-column: center-start / center-end;
  grid-row: 3 / 4;

  @include grid-4x3;
  grid-gap: 2rem;

  @include respond(phone) {
    grid-column: 2 / 3;
    margin: 0 3rem;
  }

  &__heading {
    grid-column: col-start 1 / col-end 2;
    grid-row: 2 / 3;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include respond(tab-port) {
      grid-column: full-start / full-end;
    }

    &::before {
      content: "";
      background-color: $color-grey-light-1;
      height: 2px;
      width: 30rem;
      display: block;
      margin-right: 1rem;

      @include respond(tab-port-sm) {
        width: 10rem;
      }
    }

    &::after {
      content: "";
      background-color: $color-grey-light-1;
      height: 2px;
      width: 5rem;
      display: block;
      margin-left: 1rem;
    }
  }

  &__table {
    grid-column: col-start 1 / span 2;
    grid-row: 3 / 4;
    column-gap: 2rem;
    margin-left: auto;

    @include grid-2x1;

    @include respond(tab-port) {
      grid-column: full-start / full-end;
      margin-right: auto;
    }

    @include respond(phone) {
      row-gap: 4rem;
    }

    &--left {
      grid-column: 1 / 2;
      &__list {
        list-style: none;
        color: $color-grey-light-3;

        @include respond(phone) {
          display: flex;
          // flex-shrink: 1;
        }
      }

      &__item {
        display: inline-block;
        text-decoration: none;
        color: currentColor;

        @include respond(phone) {
          column-gap: 0.5rem;
          // display: "inline-block";
          flex: "1";
        }

        &-box {
          display: flex;
          column-gap: 2rem;
          align-items: center;
          padding-right: 2rem;
          transition: all 0.3s;
          &:focus,
          &:hover {
            cursor: pointer;
          }

          @include respond(phone) {
            column-gap: 0.5rem;
            padding-right: 0.5rem;
          }

          &:link,
          &:visited {
          }

          &:hover,
          &:active {
            background-color: $color-secondary-light-1;
            color: $color-primary;
          }
        }

        &-line {
          background-color: $color-grey-light-3;
          height: 5rem;
          width: 2px;
          transition: all 0.5s ease-in-out;

          &-active {
            background-color: $color-primary;
            height: 5rem;
            width: 2px;
          }
        }

        &-selected {
          color: $color-primary;
        }
      }
    }

    &--right {
      grid-column: 2 / 3;

      @include respond(phone) {
        grid-row: 2 / -1;
        grid-column: 1 / -1;
      }

      display: grid;
      grid-template-columns: minmax(min-content, 1fr);
      grid-template-rows: max-content;
      grid-row-gap: 1rem;

      &-container {
        opacity: 0;
        transition: all 1s;

        &--1 {
          grid-row: 1 / 2;
          grid-column: 1 / -1;
        }
        &--2 {
          grid-row: 1 / 2;
          grid-column: 1 / -1;
        }
        &--3 {
          grid-row: 1 / 2;
          grid-column: 1 / -1;
        }
        &--4 {
          grid-row: 1 / 2;
          grid-column: 1 / -1;
        }

        &--active {
          opacity: 1;
        }
      }

      &__heading {
        grid-row: 1 / 2;
        margin-bottom: 1rem;
      }

      &__date {
        grid-row: 2 / 3;
        color: $color-grey-light-2;
        letter-spacing: 0.15rem;
        word-spacing: 0.3rem;
      }

      &__list {
        list-style: none;
        grid-row: 3 / 4;

        display: grid;
        grid-row-gap: 1rem;
      }

      &__box-item {
        display: flex;
        align-items: start;
        column-gap: 1rem;
      }

      &__icon {
        padding-top: 0.5rem;
        min-width: 2rem;
        min-height: 2rem;
        color: $color-primary;
      }

      &__item {
        @include respond(phone) {
          font-size: 2rem;
        }
      }
    }
  }
}

.projects {
  grid-column: center-start / center-end;
  grid-row: 4 / 5;

  @include grid-4x5;

  @include respond(tab-port) {
    grid-column: full-start / full-end;
  }

  @include respond(phone) {
    grid-column: 2 / 3;
  }

  &__heading {
    grid-column: col-start 1 / col-end 2;
    grid-row: 2 / 3;
    position: relative;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      background-color: $color-grey-light-1;
      height: 2px;
      width: 5rem;
      display: block;
      margin-right: 1rem;
    }

    &::after {
      content: "";
      background-color: $color-grey-light-1;
      height: 2px;
      width: 25rem;
      display: block;
      margin-left: 1rem;

      @include respond(tab-port) {
        width: 22rem;
      }

      @include respond(tab-port-sm) {
        width: 16rem;
      }
    }

    &-2 {
      grid-column: col-start 1 / col-end 2;
      grid-row: 4 / 5;
      justify-self: center;
    }
  }

  &__featured {
    grid-column: col-start 1 / col-end 2;
    grid-row: 3 / 4;
    align-items: center;
    cursor: pointer;

    @include grid-2x1--projects;

    &--img {
      grid-column: 1 / 2;
      width: 100%;
      height: auto;

      @include respond(tab-port) {
        display: none;
      }
    }

    &--text-box {
      grid-column: 2 / 3;
      grid-row-gap: 1rem;
      // align-self: center;
      justify-items: flex-end;

      @include grid-1x5;

      @include respond(tab-port) {
        grid-column: 1 / -1;

        background-image: linear-gradient(
            rgba($color-secondary, 0.8),
            rgba($color-secondary, 0.8)
          ),
          url(../img/vos-hero-banner-blue.png);
        background-size: 100%;
        background-position: center;

        justify-items: flex-start;
      }

      &__heading {
        grid-row: 2 / 3;
        font-weight: 600;
        transition: all 0.5s;

        &:hover {
          color: $color-primary;
        }
        &-sub {
          grid-row: 1 / 2;
          color: $color-primary;
        }
      }
      &__paragraph {
        grid-row: 3 / 4;
        background-color: $color-secondary-light-1;
        padding: 3rem 2rem;
        letter-spacing: 0.1rem;

        margin-left: -10%;

        @include respond(tab-port) {
          margin-left: 0;
          background-color: transparent;
          padding: 0;
        }

        @include respond(phone) {
          line-height: 1.3;
          font-size: 1.8rem;
        }
      }
      &__list {
        grid-row: 4 / 5;
        list-style: none;
        font-size: 1.4rem;
        letter-spacing: 0.2rem;
        font-weight: 300;
        display: flex;
        column-gap: 2rem;
        color: $color-grey-light-4;
      }

      &__item {
        &--1 {
        }
        &--2 {
        }
        &--3 {
        }
        &--4 {
        }
        &--5 {
        }
      }

      &__link {
        grid-row: 5 / 6;
        display: flex;
        align-items: center;
        column-gap: 2rem;
        color: $color-grey-light-2;
      }

      &__icon {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }

  &__other {
    grid-column: col-start 1 / col-end 2;
    grid-row: 5 / 6;

    @include grid-6x1;
    grid-gap: 1.5rem;

    list-style: none;
    transition: all 0.5s;

    &__item {
      transition: all 0.5s;
      background-color: $color-secondary-light-1;
      opacity: 1;

      &:hover {
        transform: translateY(-0.5rem);
      }

      &--hidden {
        opacity: 0;
      }
    }
  }

  &__card {
    padding: 4rem 3rem;
    position: relative;
    justify-items: flex-start;
    align-content: space-between;
    height: 100%;
    overflow: auto;
    -webkit-box-pack: justify;
    -webkit-box-align: center;

    @include grid-1x2;
    // align-content: space-between;
    &--header {
      grid-row: 1 / 2;
      row-gap: 2rem;

      @include grid-1x3;
      &__top {
        grid-row: 1 / 2;

        display: flex;
        align-items: center;
        justify-content: space-between;

        &--left {
          color: $color-primary;
        }

        &--right {
          z-index: 10;
          display: flex;
          column-gap: 1.5rem;
        }

        &--icon {
          &__left {
            width: 4rem;
            height: 4rem;
          }

          &__right {
            width: 2.5rem;
            height: 2.5rem;
          }
        }
      }

      &__title {
        grid-row: 2 / 3;

        & a {
          text-decoration: none;
          color: $color-grey-light-1;
          transition: all 0.5s;

          &:hover {
            color: $color-primary;
          }

          &::before {
            content: "";
            display: block;
            position: absolute;
            z-index: 0;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
          }
        }
      }

      &__text {
        grid-row: 3 / 4;
        color: $color-grey-light-2;
      }
    }

    &--footer {
      grid-row: 2 / 3;

      &__list {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        column-gap: 1rem;
        row-gap: 1rem;
        flex-wrap: wrap;
      }
      &__item {
        font-size: 1.4rem;
        font-family: inherit;
        letter-spacing: 0.1rem;
        color: $color-grey-light-4;
      }
    }
  }

  &__btn {
    grid-column: col-start 1 / col-end 2;
    grid-row: 6 / 7;
    justify-self: center;
    letter-spacing: 0.1rem;
  }
}

.contact {
  grid-column: center-start / center-end;
  grid-row: 5 / 6;

  @include grid-3x6;
  justify-items: center;
  row-gap: 1rem;

  @include respond(phone) {
    grid-column: 2 / 3;
  }

  &__heading {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    color: $color-primary;
    letter-spacing: 0.2rem;
  }

  &__title {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    font-size: 5rem;
  }

  &__paragraph {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;

    @include respond(phone) {
      font-size: 2rem;
    }
  }

  &__btn {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    text-decoration: none;
    letter-spacing: 0.1rem;
  }
}
